button {
  background-color: $blue;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
  transition: 160ms box-shadow ease-in-out;

  @media (min-width: 45.625em) {
    font-size: 1rem;
  }

  &:hover,
  &:focus {
    box-shadow: 1px 1px 0.25rem fade-out($blue, 0.5);
  }
}

button.button--alt {
  background-color: $orange;
  box-shadow: none;

  &:hover,
  &:focus {
    box-shadow: 1px 1px 0.25rem fade-out($orange, 0.5);
  }
}
