.bmc-button {
  align-items: center;
  background-color: #ff813f;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
  box-shadow: 0 0.0625rem 0.125rem rgb(190 190 190 / 50%);
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: Cookie, cursive;
  font-size: 1.25rem;
  letter-spacing: 0.0375rem;
  margin: 1rem 0;
  padding: 0.4375rem 0.9375rem 0.4375rem 0.625rem;
  text-decoration: none;

  svg {
    border: none;
    box-shadow: none;
    height: 1.375rem;
    width: 1.375rem;
    transition: 160ms ease;
  }

  &:hover,
  &:focus {
    svg {
      transform-origin: bottom;
      transform: rotate(-6deg);
    }
  }

  span {
    margin-left: 0.25rem;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0.0625rem 0.125rem 0.125rem rgb(190 190 190 / 50%);
    color: #fff;
    opacity: 85%;
    text-decoration: none;
  }
}
