.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.select-all {
  cursor: pointer;
  user-select: all;
}

.center {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
