.example {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  margin: 2rem 0;

  &--stack {
    align-items: flex-start;
    flex-direction: column !important;

    p {
      margin: 0;
    }
  }

  div[class *= "language-"] {
    width: 100%;
  }

  @media (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;

    button {
      margin-right: 2rem !important;
    }
  }
}

.variables {
  width: 100%;

  &__wrapper {
    background-attachment: local, local, scroll, scroll;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0)), linear-gradient(to left, #fff, rgba(255, 255, 255, 0)), linear-gradient(to right, #c3c3c5, rgba(195, 195, 197, 0)), linear-gradient(to left, #c3c3c5, rgba(195, 195, 197, 0));
    background-position: 0 0, 100% 0, 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
    margin: 2rem 0;
    overflow-x: auto;
  }

  thead {
    font-weight: 700;

    tr {
      border-bottom: 1px solid #777;
    }
  }

  tr {
    align-items: center;
    display: flex;
    margin: 1rem 0;

    td {
      padding: 0.5rem;

      &:nth-child( 1 ),
      &:nth-child( 2 ) {
        width: 14rem;
      }

      &:nth-child( 3 ) {
        width: 8rem;
      }

      &:nth-child( 4 ) {
        width: 16rem;
      }
    }

    &:nth-child( 2n - 1 ) {
      background-color: fade-out(#eee, 0.5);
    }
  }

  &__sample {
    border: 1px solid #000;
    display: inline-block;
    height: 0.8rem;
    margin-right: 0.5rem;
    width: 0.8rem;

    &--bg {
      background-color: var(--cooltipz-bg-color);
    }

    &--text {
      background-color: var(--cooltipz-text-color);
    }

    &--pointer {
      cursor: pointer;
    }
  }
}
