.feedback {
  &__share {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 1rem;
    padding-left: 0;

    li {
      display: inline-block;
    }

    a {
      display: block;
    }

    svg {
      height: 2rem;
      width: 2rem;

      &.twitter {
        color: #1c9cea;
      }

      &.linkedin {
        color: #007bb6;
      }

      &.reddit {
        color: #ff4500;
      }

      &.facebook {
        color: #3b579d;
      }
    }
  }
}
