@use "../node_modules/normalize.css/normalize" as *;
@use "./global" as *;
@use "./button" as *;
@use "./header" as *;
@use "./footer" as *;
@use "./link" as *;
@use "./helpers" as *;
@use "./sections" as *;
@use "./code" as *;

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 0 1.5rem;
}
