@use "../node_modules/normalize.css/normalize" as *;
@use "./global" as *;
@use "./button" as *;
@use "./header" as *;
@use "./footer" as *;
@use "./link" as *;
@use "./helpers" as *;
@use "./code" as *;

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-block: 0;
  margin-inline: auto;
  max-width: 62.5rem;
  padding-block: 0;
  padding-inline: 1.5rem;
}
