/* W0010: Warn when using the role='text' attribute on headings due to its accessibility concerns */

h1, h2, h3, h4, h5, h6 {
  &[role="text"] {
    @include contentMessage(warning, "W0010", "Using role='text' on a heading element causes it to lose semantic meaning for screen readers");
  }
}