@use "../../shared/messages/" as *;

/* Make the head visible to show the title. This could have side effects but,
in theory, all the elements in the head are non-visible. So we should be ok :P */
head {
  display: block;
}

/* E0017: title element must not be empty */
head meta[name = "viewport"][content *= "maximum-scale=1" i],
head meta[name = "viewport"][content *= "user-scalable=no" i] {
  @include vectorMessage(warning, "W0016", 458, "The display zoom/scale", "has been disabled.");
  display: block;
  border: 0;
}
