/* W0004: Inline styles with !important should be avoided to allow end-users to add their custom stylesheet */
[style *= "!important"]::after {
  @include contentMessage(warning, "!important inline styles should be avoided.");
}

/* W0005: Text broken by <span> or <em> elements might need a [role='text'] attribute, otherwise a screenreader may break up the sentence. */
* {
  &:not( [role = "text"] ) {
    > em,
    span {
      &::after {
        @include contentMessage(warning, "Text broken by <span> or <em> elements might need a [role='text'] attribute.");
      }
    }
  }
}
