/* W0006: Warn when opening a link in a new tab or window */
a[target = "_blank"] {
  &::after {
    @include contentMessage(warning, "W0006", "Links that open in a new tab or window should be communicated to the user, ensure the user knows of this behavior.");
  }
}

/* W0010: Anchor tags should not be used as buttons. Links should redirect to a resource/page, if they don't they probably should be buttons. */
a[href = "#"],
a[role = "button"],
a[href ^= "javascript:"] {
  &::after {
    @include contentMessage(warning, "W0010", "Anchor tags should not be used as buttons. Links should redirect to a resource/page, if they don't they probably should be buttons.");
  }
}
