/*! Checka11y.css v1.0.0-beta.0 | MIT License | github.com/jackdomleo7/Checka11y.css */

/**
 * Checka11y.css customisation
 */

:root {
  --checka11y-error-color: #f00;
  --checka11y-error-border-width: 5px;
  --checka11y-font: "Comic Sans MS", cursive !important;
}

/**
* HTML
*/

html:not( [lang] ) body {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

html:not( [lang] ) body::before {
  content: "ERROR: html has no lang attribute." !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Images
 */

img:not( [alt] ) /* All images require an alt attribute, whether it has a value or is null */ {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/**
 * iframe
 */

iframe:not( [title] ) /* All iframe must have title attribute */ {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

iframe:not( [title] )::after /* All iframe must have title attribute */ {
  content: "ERROR: iframe has no title attribute. " !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Lists
 */

ol > *:not( li ),
ul > *:not( li ) /* All children of <ul> must only be <li> */ {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

ol > *:not( li )::after,
ul > *:not( li )::after /* All children of <ul> must only be <li> */ {
  content: "ERROR: List markup invalid. Ensure <li> is the only direct child of <ul> or <ol>." !important;
  font-family: var(--checka11y-font, cursive);
}

dl > *:not( dt ):not( dd ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

dl > *:not( dt ):not( dd )::after {
  content: "ERROR: List markup invalid. Ensure that the only direct children of <dl> are <dt> and <dd>." !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Navigation
 */

nav + nav /* There must only be one primary navigation on the page */ {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

nav + nav::after {
  content: "ERROR: <nav> denotes the primary navigation for the page. Other navigations are permitted but should not be wrapped in a <nav>." !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Links
 */

a[target = "_blank"] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a[target = "_blank"]::after /* Links that open a new page/tab target="_blank" */ {
  content: " WARNING: Links that open in a new tab or window should be communicated to the user, ensure the user knows of this behavior" !important;
  font-family: var(--checka11y-font, cursive);
}
