/*! Checka11y.css v1.0.0-beta.0 | MIT License | github.com/jackdomleo7/Checka11y.css */

/**
 * Checka11y.css customisation
 */

:root {
  --checka11y-error-color: #f00;
  --checka11y-error-border-width: 5px;
  --checka11y-font: "Comic Sans MS", cursive !important;
}

/**
* HTML
*/

/* html element requires a lang attribute */
html:not( [lang] ) body {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* html element requires a lang attribute */
html:not( [lang] ) body::before {
  content: "ERROR: html has no lang attribute." !important;
  font-family: var(--checka11y-font, cursive);
}

html[lang = ""] body {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

html[lang = ""] body::before {
  content: "ERROR: html lang attribute should not be empty" !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Images
 */

/* All images require an alt attribute, whether it has a value or is null */
img:not( [alt] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/**
 * iframe
 */

/* All iframe must have title attribute */
iframe:not( [title] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* All iframe must have title attribute */
iframe:not( [title] )::after {
  content: "ERROR: iframe has no title attribute. " !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Lists
 */


/* All children of <ul> and <ol> must only be <li> */
ol > *:not( li ),
ul > *:not( li ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* All children of <ul> and <ol> must only be <li> */
ol > *:not( li )::after,
ul > *:not( li )::after {
  content: "ERROR: List markup invalid. Ensure <li> is the only direct child of <ul> or <ol>." !important;
  font-family: var(--checka11y-font, cursive);
}

/* All children of <dl> must only be <dt> or <dd> */
dl > *:not( dt ):not( dd ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* All children of <dl> must only be <dt> or <dd> */
dl > *:not( dt ):not( dd )::after {
  content: "ERROR: List markup invalid. Ensure that the only direct children of <dl> are <dt> and <dd>." !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Navigation
 */

/* If more than one primary navigation is available, all navigations must be clearly labelled. */
nav:not( [aria-label] ):not( [aria-labelledby] ) ~ nav,
nav ~ nav:not( [aria-label] ):not( [aria-labelledby] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

nav:not( [aria-label] ):not( [aria-labelledby] ) ~ nav::after,
nav ~ nav:not( [aria-label] ):not( [aria-labelledby] )::after {
  content: "ERROR: <nav> indicates the primary navigation for the page. In cases where multiple primary navigations exist, an aria-label or aria-labelledby attribute must be present on both <nav> tags" !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Links
 */

/* Warn when opening a link in a new tab or window */
a[target = "_blank"] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* Warn when opening a link in a new tab or window */
a[target = "_blank"]::after /* Links that open a new page/tab target="_blank" */ {
  content: " WARNING: Links that open in a new tab or window should be communicated to the user, ensure the user knows of this behavior" !important;
  font-family: var(--checka11y-font, cursive);
}

/**
* Invalid HTML nested inside <a>
*/

a audio[controls] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a audio[controls]::after {
  content: "ERROR: Ensure that <audio> with controls attribute is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a button {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a button::after {
  content: "ERROR: Ensure that button is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a details {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a details::after {
  content: "ERROR: Ensure that <details> is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a embed {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a embed::after {
  content: "ERROR: Ensure that <embed> is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a iframe {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a iframe::after {
  content: "ERROR: Ensure that <iframe> is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a img[usemap] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a img[usemap]::after {
  content: "ERROR: Ensure that <img> with usemap attribute is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a input:not( [type = "hidden"] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a input:not( [type = "hidden"] )::after {
  content: "ERROR: Ensure that <audio> with controls attribute is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a label {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a label::after {
  content: "ERROR: Ensure that <label> is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a object[usemap] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a object[usemap]::after {
  content: "ERROR: Ensure that <object> with usemap attribute is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a select {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a select::after {
  content: "ERROR: Ensure that <select> is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a textarea {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a textarea::after {
  content: "ERROR: Ensure that <textarea> is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

a video[controls] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a video[controls]::after {
  content: "ERROR: Ensure that <video> with controls attribute is not a child of <a> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Buttons
 */

/**
* Invalid HTML (interactive content) nested inside of <button>
*/

button a[href] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button a[href]::after {
  content: "ERROR: Ensure that <a> with href attribute is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button audio[controls] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button audio[controls]::after {
  content: "ERROR: Ensure that <audio> with controls attribute is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button button {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button button::after {
  content: "ERROR: Ensure that <button> is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button details {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button details::after {
  content: "ERROR: Ensure that <details> is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button embed {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button embed::after {
  content: "ERROR: Ensure that <embed> is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button iframe {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button iframe::after {
  content: "ERROR: Ensure that <iframe> is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button img[usemap] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button img[usemap]::after {
  content: "ERROR: Ensure that <img> with usemap attribute is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button input:not( [type = "hidden"] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button input:not( [type = "hidden"] )::after {
  content: "ERROR: Ensure that <input> without type=hidden attribute is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button label {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button label::after {
  content: "ERROR: Ensure that <label> is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button object[usemap] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button object[usemap]::after {
  content: "ERROR: Ensure that <object> with usemap attribute is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button select {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button select::after {
  content: "ERROR: Ensure that <select> is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button textarea {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button textarea::after {
  content: "ERROR: Ensure that <textarea> is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

button video[controls] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

button video[controls]::after {
  content: "ERROR: Ensure that <video> with controls attribute is not a child of <button> as it is an invalid HTML" !important;
  font-family: var(--checka11y-font, cursive);
}

/**
* The dir attribute can only have the values, ltr, rtl and auto.
*/

[dir]:not( [dir="rtl"] ):not( [dir="ltr"] ):not( [dir="auto"] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

[dir]:not( [dir="rtl"] ):not( [dir="ltr"] ):not( [dir="auto"] )::after {
  content: "ERROR: The dir attribute can only have the values, ltr, rtl and auto." !important;
  font-family: var(--checka11y-font, cursive);
}

/*Ensure that the tab index of commonly tabbed to elements is not -1*/

a[href][tabindex="-1"],
area[href][tabindex="-1"],
input:not([disabled])[tabindex="-1"],
select:not([disabled])[tabindex="-1"],
textarea:not([disabled])[tabindex="-1"],
button:not([disabled])[tabindex="-1"],
iframe[tabindex="-1"],
[contentEditable="true"][tabindex="-1"] {
  border: var(--checka11y-error-border-width, 5px) solid
    var(--checka11y-error-color, red) !important;
}

a[href][tabindex="-1"]::after {
  content: "ERROR : Ensure that <a> with an href attribute doesn't have a tab index of -1" !important;
  font-family: var(--checka11y-font, cursive);
}

area[href][tabindex="-1"]::after {
  content: "ERROR : Ensure that <area> with an href attribute doesn't have a tab index of -1" !important;
  font-family: var(--checka11y-font, cursive);
}

input:not([disabled])[tabindex="-1"]::after {
  content: "ERROR : Ensure that <input> that is not disabled doesn't have a tab index of -1" !important;
  font-family: var(--checka11y-font, cursive);
}

select:not([disabled])[tabindex="-1"]::after {
  content: "ERROR : Ensure that <select> that is not disabled doesn't have a tab index of -1" !important;
  font-family: var(--checka11y-font, cursive);
}

textarea:not([disabled])[tabindex="-1"]::after {
  content: "ERROR : Ensure that <textarea> that is not disabled doesn't have a tab index of -1" !important;
  font-family: var(--checka11y-font, cursive);
}

button:not([disabled])[tabindex="-1"]::after {
  content: "ERROR : Ensure that <button> that is not disabled doesn't have a tab index of -1" !important;
  font-family: var(--checka11y-font, cursive);
}

iframe[tabindex="-1"]::after {
  content: "ERROR : Ensure that <iframe> doesn't have a tab index of -1" !important;
  font-family: var(--checka11y-font, cursive);
}

[contentEditable="true"][tabindex="-1"]::after {
  content: "ERROR : Ensure that HTML elements with editable content don't have a tab index of -1" !important;
  font-family: var(--checka11y-font, cursive);
}
/**
* Video/audio with autoplay set
*/

[autoplay] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}
