/*! Checka11y.css v1.0.0-beta.0 | MIT License | github.com/jackdomleo7/Checka11y.css */
:root {
  /**
    * Colors
    * Colors are broken down into RGB and A variables to be combined for the main color
    */
  --text-error: #721c24;
  --bg-error: #ffc6c6;
  --border-error: #f00;
  --text-warning: #856404;
  --bg-warning: #ffffd8;
  --border-warning: #ff6;
  /* Scale */
  --space: 0.25rem;
  --space-0: calc(var(--space) * 0);
  --space-2: calc(var(--space) * 2);
  --space-4: calc(var(--space) * 4);
  --space-6: calc(var(--space) * 6);
}

/**
  * Base Styles
  * To use in SCSS with the @extend & @include command.
  */
img:not([alt]), iframe:not([title]), ol > *:not(li),
ul > *:not(li), dl > *:not(dt):not(dd), nav:not([aria-label]):not([aria-labelledby]) ~ nav,
nav ~ nav:not([aria-label]):not([aria-labelledby]), a audio[controls], a button, a details, a embed, a iframe, a img[usemap], a input:not([type="hidden"]), a label, a object[usemap], a select, a textarea, a video[controls], a[target="_blank"] {
  display: block;
  padding: var(--space-4) var(--space-6);
  margin: var(--space-2) auto var(--space-6);
  border-radius: 2rem;
}

img:not([alt]), iframe:not([title]), ol > *:not(li),
ul > *:not(li), dl > *:not(dt):not(dd), nav:not([aria-label]):not([aria-labelledby]) ~ nav,
nav ~ nav:not([aria-label]):not([aria-labelledby]), a audio[controls], a button, a details, a embed, a iframe, a img[usemap], a input:not([type="hidden"]), a label, a object[usemap], a select, a textarea, a video[controls] {
  color: var(--text-error);
  background-color: var(--bg-error);
  border: 0.5rem solid var(--border-error);
}

a[target="_blank"] {
  color: var(--text-warning);
  background-color: var(--bg-warning);
  border: 0.5rem solid var(--border-warning);
}

html:not([lang]) body::before, html[lang=""] body::before, iframe:not([title])::after, ol > *:not(li)::after,
ul > *:not(li)::after, dl > *:not(dt):not(dd)::after, nav:not([aria-label]):not([aria-labelledby]) ~ nav::after,
nav ~ nav:not([aria-label]):not([aria-labelledby])::after, a[target="_blank"]::after {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  padding: var(--space-4) var(--space-6);
  border-radius: 0.75rem;
}

html:not([lang]) body::before, html[lang=""] body::before, iframe:not([title])::after, ol > *:not(li)::after,
ul > *:not(li)::after, dl > *:not(dt):not(dd)::after, nav:not([aria-label]):not([aria-labelledby]) ~ nav::after,
nav ~ nav:not([aria-label]):not([aria-labelledby])::after {
  color: var(--text-error);
  border: 0.4rem solid var(--border-error);
  background-color: var(--bg-error);
}

a[target="_blank"]::after {
  color: var(--text-warning);
  border: 0.4rem solid var(--border-warning);
  background-color: var(--bg-warning);
}

/**
  * HTML
  */
/* html element requires a lang attribute */
html:not([lang]) body {
  border: 0.5rem solid var(--border-error);
}

html:not([lang]) body::before {
  content: "ERROR: html has no lang attribute." !important;
}

/* html element lang attribute must not be empty */
html[lang=""] body {
  border: 0.5rem solid var(--border-error);
}

html[lang=""] body::before {
  content: "ERROR: html lang attribute should not be empty." !important;
}

/**
  * Images
  */
/* All images require an alt attribute */
/**
  * iframe
  */
/* All iframe must have title attribute */
iframe:not([title])::after {
  content: "ERROR: iframe has no title attribute." !important;
}

/**
  * Lists
  */
/* All direct children of <ul> and <ol> must only be <li> */
ol > *:not(li)::after,
ul > *:not(li)::after {
  content: "ERROR: List markup invalid. Ensure <li> is the only direct child of <ul> or <ol>." !important;
}

/* All direct children of <dl> must only be <dt> or <dd> */
dl > *:not(dt):not(dd)::after {
  content: "ERROR: List markup invalid. Ensure that the only direct children of <dl> are <dt> and <dd>." !important;
}

/**
  * Navigation
  */
/* If more than one primary navigation is available, all navigations must be clearly labelled. */
nav:not([aria-label]):not([aria-labelledby]) ~ nav::after,
nav ~ nav:not([aria-label]):not([aria-labelledby])::after {
  content: "ERROR: <nav> indicates the primary navigation for the page. In cases where multiple primary navigations exist, an aria-label or aria-labelledby attribute must be present on both <nav> tags." !important;
}

/**
  * Links
  */
/* Warn when opening a link in a new tab or window */
a[target="_blank"]::after {
  content: "WARNING: Links that open in a new tab or window should be communicated to the user, ensure the user knows of this behavior." !important;
}

/**
  * Invalid HTML nested inside <a>
  */
a audio[controls]::after {
  content: "ERROR: Ensure that <audio> with controls attribute is not a child of <a> as it is an invalid HTML." !important;
}

a button::after {
  content: "ERROR: Ensure that <button> is not a child of <a> as it is an invalid HTML." !important;
}

a details::after {
  content: "ERROR: Ensure that <details> is not a child of <a> as it is an invalid HTML." !important;
}

a embed::after {
  content: "ERROR: Ensure that <embed> is not a child of <a> as it is an invalid HTML." !important;
}

a iframe::after {
  content: "ERROR: Ensure that <iframe> is not a child of <a> as it is an invalid HTML." !important;
}

a img[usemap]::after {
  content: "ERROR: Ensure that <img usemap=''> is not a child of <a> as it is an invalid HTML." !important;
}

a input:not([type="hidden"])::after {
  content: "ERROR: Ensure that non hidden <input> is not a child of <a> as it is an invalid HTML." !important;
}

a label::after {
  content: "ERROR: Ensure that <label> is not a child of <a> as it is an invalid HTML." !important;
}

a object[usemap]::after {
  content: "ERROR: Ensure that <object usemap=''> is not a child of <a> as it is an invalid HTML." !important;
}

a select::after {
  content: "ERROR: Ensure that <select> is not a child of <a> as it is an invalid HTML." !important;
}

a textarea::after {
  content: "ERROR: Ensure that <textarea> is not a child of <a> as it is an invalid HTML." !important;
}

a video[controls]::after {
  content: "ERROR: Ensure that <video controls> is not a child of <a> as it is an invalid HTML." !important;
}
