/*! Checka11y.css v1.0.0-beta.0 | MIT License | github.com/jackdomleo7/Checka11y.css */

/**
 * Checka11y.css customisation
 */

:root {
  --checka11y-error-color: #f00;
  --checka11y-error-border-width: 5px;
  --checka11y-font: "Comic Sans MS", cursive !important;
}

/**
* HTML
*/

/* html element requires a lang attribute */
html:not( [lang] ) body {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* html element requires a lang attribute */
html:not( [lang] ) body::before {
  content: "ERROR: html has no lang attribute." !important;
  font-family: var(--checka11y-font, cursive);
}

html[lang=""] body{
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

html[lang=""] body::before {
  content: "ERROR: html lang attribute should not be empty" !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Images
 */

/* All images require an alt attribute, whether it has a value or is null */
img:not( [alt] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/**
 * iframe
 */

/* All iframe must have title attribute */
iframe:not( [title] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* All iframe must have title attribute */
iframe:not( [title] )::after {
  content: "ERROR: iframe has no title attribute. " !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Lists
 */


/* All children of <ul> and <ol> must only be <li> */
ol > *:not( li ),
ul > *:not( li ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* All children of <ul> and <ol> must only be <li> */
ol > *:not( li )::after,
ul > *:not( li )::after {
  content: "ERROR: List markup invalid. Ensure <li> is the only direct child of <ul> or <ol>." !important;
  font-family: var(--checka11y-font, cursive);
}

/* All children of <dl> must only be <dt> or <dd> */
dl > *:not( dt ):not( dd ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* All children of <dl> must only be <dt> or <dd> */
dl > *:not( dt ):not( dd )::after {
  content: "ERROR: List markup invalid. Ensure that the only direct children of <dl> are <dt> and <dd>." !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Navigation
 */

/* There must only be one primary navigation on the page */
nav + nav {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* There must only be one primary navigation on the page */
nav + nav::after {
  content: "ERROR: <nav> denotes the primary navigation for the page. Other navigations are permitted but should not be wrapped in a <nav>." !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Links
 */

/* Warn when opening a link in a new tab or window */
a[target = "_blank"] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/* Warn when opening a link in a new tab or window */
a[target = "_blank"]::after /* Links that open a new page/tab target="_blank" */ {
  content: " WARNING: Links that open in a new tab or window should be communicated to the user, ensure the user knows of this behavior" !important;
  font-family: var(--checka11y-font, cursive);
}
