/* Define common styles shared by multiple accessibility warnings */
.accessibility-warning {
  display: block;
  font-size: 1rem;
  font-family: verdana, geneva, tahoma, sans-serif;
  font-weight: 700;
  font-style: initial;
  padding: var(--checka11y-space-4) var(--checka11y-space-6);
  border-radius: 0.75rem;
  letter-spacing: initial;
  text-decoration: none;
  text-transform: initial;
  text-shadow: none;
}

/* Accessibility warning for links */
a.accessibility-warning {
  color: var(--checka11y-text-warning);
  border: 0.4rem solid var(--checka11y-border-warning);
  background-color: var(--checka11y-bg-warning);

  /* Additional styles for links */
  text-decoration: underline; /* Underline the link text */
  margin: 0.5rem; /* Add some spacing around the link */
  cursor: pointer; /* Change the cursor to a pointer to indicate interactivity */
}

/* Accessibility warning for buttons */
button.accessibility-warning {
  color: var(--checka11y-text-warning);
  border: 0.4rem solid var(--checka11y-border-warning);
  background-color: var(--checka11y-bg-warning);

  /* Additional styles for buttons */
  padding: var(--checka11y-space-6) var(--checka11y-space-8); /* Increase padding */
  border-radius: 1rem; /* Rounder button corners */
}

/* Accessibility warning for images */
img.accessibility-warning {
  border: 0.4rem solid var(--checka11y-border-warning);
  background-image: url('data:image/svg+xml; ... ');
  background-position: bottom center;
  background-repeat: no-repeat;
  min-width: 400px;
  padding-bottom: 80px;

  /* Additional styles for images */
  max-width: 100%; /* Ensure images don't exceed their container's width */
  height: auto; /* Maintain image aspect ratio */
}
