/*! Checka11y.css v1.0.0-beta.0 | MIT License | github.com/jackdomleo7/Checka11y.css */

/**
 * Checka11y.css customisation
 */

:root {
  --checka11y-error-color: #f00;
  --checka11y-error-border-width: 5px;
  --checka11y-font: "Comic Sans MS", cursive !important;
}

/**
* HTML
*/

html:not( [lang] ) body {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

html:not( [lang] ) body::before {
  content: "ERROR: html has no lang attribute." !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Images
 */

img:not( [alt] ) /* All images require an alt attribute, whether it has a value or is null */ {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

/**
 * iframe
 */

iframe:not( [title] ) /* All iframe must have title attribute */ {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

iframe:not( [title] )::after /* All iframe must have title attribute */ {
  content: "ERROR: iframe has no title attribute. " !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Lists
 */

ol > *:not( li )::after,
ul > *:not( li )::after /* All children of <ul> must only be <li> */ {
  content: "ERROR: List markup invalid. Ensure <li> are the only direct children of your <ul> or <ol>." !important;
  font-family: var(--checka11y-font, cursive);
}

dl > *:not( dt ):not( dd ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

dl > *:not( dt ):not( dd )::after {
  content: "ERROR: Ensure that the direct children of a <dl> can only be <dt> and <dd>" !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Navigation
 */
nav + nav /* There must only be one primary navigation on the page */ {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

nav + nav::after {
  content: "ERROR: <nav> denotes the primary navigation for the page. Other navigations are permitted but should not be wrapped in a <nav>" !important;
  font-family: var(--checka11y-font, cursive);
}

/**
 * Links
 */

a[target = "_blank"] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a[target = "_blank"]::after /* Links that open a new page/tab target="_blank" */ {
  content: " WARNING: Links that open in a new tab or window should be communicated to the user, ensure the user knows of this behavior" !important;
  font-family: var(--checka11y-font, cursive);
}

a > a {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > a::after {
  content: "ERROR: Ensure that <a> is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > audio[controls] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > audio[controls]::after {
  content: "ERROR: Ensure that <audio> with controls attribute is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > button {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > button::after {
  content: "ERROR: Ensure that button is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > details {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > details::after {
  content: "ERROR: Ensure that <details> is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > embed {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > embed::after {
  content: "ERROR: Ensure that <embed> is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > iframe {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > iframe::after {
  content: "ERROR: Ensure that <iframe> is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > img[usemap] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > img[usemap]::after {
  content: "ERROR: Ensure that <img> with usemap attribute is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > input:not( [type = "hidden"] ) {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > input:not( [type = "hidden"] )::after {
  content: "ERROR: Ensure that <audio> with controls attribute is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > keygen {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > keygen::after {
  content: "ERROR: Ensure that <keygen> is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > label {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > label::after {
  content: "ERROR: Ensure that <label> is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > menu[type = "toolbar"] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > menu[type = "toolbar"]::after {
  content: "ERROR: Ensure that <menu> with type attribute set to toolbar is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > object[usemap] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > object[usemap]::after {
  content: "ERROR: Ensure that <object> with usemap attribute is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > select {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > select::after {
  content: "ERROR: Ensure that <select> is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > textarea {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > textarea::after {
  content: "ERROR: Ensure that <textarea> is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}

a > video[controls] {
  border: var(--checka11y-error-border-width, 5px) solid var(--checka11y-error-color, red) !important;
}

a > video[controls]::after {
  content: "ERROR: Ensure that <video> with controls attribute is not a child of <a>" !important;
  font-family: var(--checka11y-font, cursive);
}
