@use "./variables" as *;

:root {
  /* Colors */

  --checka11y-text-warning: #{$checka11y-text-warning};
  --checka11y-bg-warning: #{$checka11y-bg-warning};
  --checka11y-border-warning: #{$checka11y-border-warning};
}
