/*! Checka11y.css v2.3.0 | MIT License | github.com/jackdomleo7/Checka11y.css */
@use "./variables" as *;

:root {
  /* Colors */

  --checka11y-text-warning: #{$checka11y-text-warning};
  --checka11y-bg-warning: #{$checka11y-bg-warning};
  --checka11y-border-warning: #{$checka11y-border-warning};
}
