h1,
h2,
h3,
h4,
h5,
h6 {
  /* Headings should have (meaningful) content */
  &:empty::after {
    @include contentMessage(error, "Headings must not be empty.");
  }

  /* Headings should be reachable by assistive technologies */
  &[aria-hidden]::after {
    @include contentMessage(error, "Headings should be reachable by assistive technologies (no aria-hidden).");
  }
}

h1 ~ h3,
h1 ~ h4,
h1 ~ h5,
h1 ~ h6,
h2 ~ h4,
h2 ~ h5,
h2 ~ h6,
h3 ~ h5,
h3 ~ h6,
h4 ~ h6,
h1 ~ * h3,
h1 ~ * h4,
h1 ~ * h5,
h1 ~ * h6,
h2 ~ * h4,
h2 ~ * h5,
h2 ~ * h6,
h3 ~ * h5,
h3 ~ * h6,
h4 ~ * h6,
h2 ~ h1,
h2 ~ * h1,
h3 ~ h1,
h3 ~ * h1,
h4 ~ h1,
h4 ~ * h1,
h5 ~ h1,
h5 ~ * h1,
h6 ~ h1,
h6 ~ * h1,
h3 ~ h2:first-of-type,
h3 ~ * h2:first-of-type,
h4 ~ h2:first-of-type,
h4 ~ * h2:first-of-type,
h5 ~ h2:first-of-type,
h5 ~ * h2:first-of-type,
h6 ~ h2:first-of-type,
h6 ~ * h2:first-of-type,
h4 ~ h3:first-of-type,
h4 ~ * h3:first-of-type,
h5 ~ h3:first-of-type,
h5 ~ * h3:first-of-type,
h6 ~ h3:first-of-type,
h6 ~ * h3:first-of-type,
h5 ~ h4:first-of-type,
h5 ~ * h4:first-of-type,
h6 ~ h4:first-of-type,
h6 ~ * h4:first-of-type,
h6 ~ h5:first-of-type,
h6 ~ * h5:first-of-type {
  &::after {
    @include contentMessage(error, "Headings should not skip levels.");
  }
}

h1 ~ h2 ~ h3,
h1 ~ h2 ~ * h3,
h1 ~ * h2 ~ h3,
h1 ~ * h2 ~ * h3,
h1 ~ h2 ~ h3 ~ h4,
h1 ~ h2 ~ h3 ~ * h4,
h1 ~ h2 ~ * h3 ~ h4,
h1 ~ h2 ~ * h3 ~ * h4,
h1 ~ * h2 ~ h3 ~ h4,
h1 ~ * h2 ~ h3 ~ * h4,
h1 ~ * h2 ~ * h3 ~ h4,
h1 ~ * h2 ~ * h3 ~ * h4,
h1 ~ h2 ~ h3 ~ h4 ~ h5,
h1 ~ h2 ~ h3 ~ h4 ~ * h5,
h1 ~ h2 ~ h3 ~ * h4 ~ h5,
h1 ~ h2 ~ h3 ~ * h4 ~ * h5,
h1 ~ h2 ~ * h3 ~ h4 ~ h5,
h1 ~ h2 ~ * h3 ~ h4 ~ * h5,
h1 ~ h2 ~ * h3 ~ * h4 ~ h5,
h1 ~ h2 ~ * h3 ~ * h4 ~ * h5,
h1 ~ * h2 ~ h3 ~ h4 ~ h5,
h1 ~ * h2 ~ h3 ~ h4 ~ * h5,
h1 ~ * h2 ~ h3 ~ * h4 ~ h5,
h1 ~ * h2 ~ h3 ~ * h4 ~ * h5,
h1 ~ * h2 ~ * h3 ~ h4 ~ h5,
h1 ~ * h2 ~ * h3 ~ h4 ~ * h5,
h1 ~ * h2 ~ * h3 ~ * h4 ~ h5,
h1 ~ * h2 ~ * h3 ~ * h4 ~ * h5,
h1 ~ h2 ~ h3 ~ h4 ~ h5 ~ h6,
h1 ~ h2 ~ h3 ~ h4 ~ h5 ~ * h6,
h1 ~ h2 ~ h3 ~ h4 ~ * h5 ~ h6,
h1 ~ h2 ~ h3 ~ h4 ~ * h5 ~ * h6,
h1 ~ h2 ~ h3 ~ * h4 ~ h5 ~ h6,
h1 ~ h2 ~ h3 ~ * h4 ~ h5 ~ * h6,
h1 ~ h2 ~ h3 ~ * h4 ~ * h5 ~ h6,
h1 ~ h2 ~ h3 ~ * h4 ~ * h5 ~ * h6,
h1 ~ h2 ~ * h3 ~ h4 ~ h5 ~ h6,
h1 ~ h2 ~ * h3 ~ h4 ~ h5 ~ * h6,
h1 ~ h2 ~ * h3 ~ h4 ~ * h5 ~ h6,
h1 ~ h2 ~ * h3 ~ h4 ~ * h5 ~ * h6,
h1 ~ h2 ~ * h3 ~ * h4 ~ h5 ~ h6,
h1 ~ h2 ~ * h3 ~ * h4 ~ h5 ~ * h6,
h1 ~ h2 ~ * h3 ~ * h4 ~ * h5 ~ h6,
h1 ~ h2 ~ * h3 ~ * h4 ~ * h5 ~ * h6,
h1 ~ * h2 ~ h3 ~ h4 ~ h5 ~ h6,
h1 ~ * h2 ~ h3 ~ h4 ~ h5 ~ * h6,
h1 ~ * h2 ~ h3 ~ h4 ~ * h5 ~ h6,
h1 ~ * h2 ~ h3 ~ h4 ~ * h5 ~ * h6,
h1 ~ * h2 ~ h3 ~ * h4 ~ h5 ~ h6,
h1 ~ * h2 ~ h3 ~ * h4 ~ h5 ~ * h6,
h1 ~ * h2 ~ h3 ~ * h4 ~ * h5 ~ h6,
h1 ~ * h2 ~ h3 ~ * h4 ~ * h5 ~ * h6,
h1 ~ * h2 ~ * h3 ~ h4 ~ h5 ~ h6,
h1 ~ * h2 ~ * h3 ~ h4 ~ h5 ~ * h6,
h1 ~ * h2 ~ * h3 ~ h4 ~ * h5 ~ h6,
h1 ~ * h2 ~ * h3 ~ h4 ~ * h5 ~ * h6,
h1 ~ * h2 ~ * h3 ~ * h4 ~ h5 ~ h6,
h1 ~ * h2 ~ * h3 ~ * h4 ~ h5 ~ * h6,
h1 ~ * h2 ~ * h3 ~ * h4 ~ * h5 ~ h6,
h1 ~ * h2 ~ * h3 ~ * h4 ~ * h5 ~ * h6 {
  &::after {
    display: none !important;
  }
}
