/* If more than one primary navigation is available, all navigations must be clearly labelled. */
nav:not( [aria-label] ):not( [aria-labelledby] ) ~ nav,
nav ~ nav:not( [aria-label] ):not( [aria-labelledby] ) {
  &::after {
    @extend %contentError;
    @include contentMessage(error, "<nav> indicates the primary navigation for the page. In cases where multiple primary navigations exist, an aria-label or aria-labelledby attribute must be present on both <nav> tags.");
  }
}
