u {
  &::after {
    @extend %contentWarning;
    @include contentMessage(warning, "Using <u> element could be confused as a hyperlink, consider using a different element such as <em> or <b>");
  }
}
