$text-error: #721c24;
$bg-error: #ffc6c6;
$border-error: #f00;

$text-warning: #856404;
$bg-warning: #ffffd8;
$border-warning: #ff6;

$font-family: verdana, geneva, tahoma, sans-serif;
$font-size: 1.2rem;
$font-weight: 700;
