@use "./variables" as *;

:root {
  /* Colors */

  --checka11y-text-error: #{$checka11y-text-error};
  --checka11y-bg-error: #{$checka11y-bg-error};
  --checka11y-border-error: #{$checka11y-border-error};
}
