/* To only be used on ::before or ::after */
@mixin contentMessage($errorType, $message) {
  display: block;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  padding: var(--space-4) var(--space-6);
  border-radius: 0.75rem;

  @if $errorType == error {
    content: "ERROR: #{$message}" !important;
    color: var(--text-error);
    border: 0.4rem solid var(--border-error);
    background-color: var(--bg-error);
  }
  @else if $errorType == warning {
    content: "WARNING: #{$message}" !important;
    color: var(--text-warning);
    border: 0.4rem solid var(--border-warning);
    background-color: var(--bg-warning);
  }
  @else {
    @error "The errorType must be either 'error' or 'warning'.";
  }
}
