/* E0002: The dir attribute can only have the values, ltr, rtl and auto */
@use "../../shared/messages/" as *;

[dir]:not( [dir = "rtl"] ):not( [dir = "ltr"] ):not( [dir = "auto"] ) {
  &::after {
    @include contentMessage(error, "E0002", "The dir attribute can only have the values, 'ltr', 'rtl' and 'auto'.");
  }
}
