@use "../../shared/messages/" as *;

/* E0013: If more than one primary navigation is available, all navigations must be clearly labelled. */
nav:not( [aria-label] ):not( [aria-labelledby] ) ~ nav,
nav ~ nav:not( [aria-label] ):not( [aria-labelledby] ) {
  &::after {
    @include contentMessage(error, "E0013", "<nav> indicates the primary navigation for the page. In cases where multiple primary navigations exist, an aria-label or aria-labelledby attribute must be present on both <nav> elements.");
  }
}
