/**
  * Base Styles
  * To use in SCSS with the @extend & @include command.
  */
%alert {
  display: block;
  padding: var(--space-4) var(--space-6);
  margin: var(--space-2) auto var(--space-6);
  border-radius: 2rem;
}

%alertError {
  @extend %alert;
  color: var(--text-error);
  background-color: var(--bg-error);
  border: 0.5rem solid var(--border-error);
}

%alertWarning {
  @extend %alert;
  color: var(--text-warning);
  background-color: var(--bg-warning);
  border: 0.5rem solid var(--border-warning);
}

%content {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  padding: var(--space-4) var(--space-6);
  border-radius: 0.75rem;
}

%contentError {
  @extend %content;
  color: var(--text-error);
  border: 0.4rem solid var(--border-error);
  background-color: var(--bg-error);
}

%contentWarning {
  @extend %content;
  color: var(--text-warning);
  border: 0.4rem solid var(--border-warning);
  background-color: var(--bg-warning);
}

@mixin contentMessage($errorType, $message) {
  @if $errorType == error {
    content: "ERROR: #{$message}" !important;
  }
  @else if $errorType == warning {
    content: "WARNING: #{$message}" !important;
  }
  @else {
    @error "The errorType must be either error or warning.";
  }
}
