@import "variables.scss";

:root {
  /* Colors */

  --checka11y-text-error: #{$text-error};
  --checka11y-bg-error: #{$bg-error};
  --checka11y-border-error: #{$border-error};

  --checka11y-text-warning: #{$text-warning};
  --checka11y-bg-warning: #{$bg-warning};
  --checka11y-border-warning: #{$border-warning};


  /* Scale */
  --checka11y-space: 0.25rem;

  --checka11y-space-0: calc(var(--checka11y-space) * 0);
  --checka11y-space-2: calc(var(--checka11y-space) * 2);
  --checka11y-space-4: calc(var(--checka11y-space) * 4);
  --checka11y-space-6: calc(var(--checka11y-space) * 6);
}
