$text-error: #721c24 !default;
$bg-error: #ffc6c6 !default;
$border-error: #f00 !default;

$text-warning: #856404 !default;
$bg-warning: #ffffd8 !default;
$border-warning: #ff6 !default;

$font-family: verdana, geneva, tahoma, sans-serif !default;
$font-size: 1rem !default;
$font-weight: 700 !default;
