/*! Checka11y.css v1.0.0-beta.0 | MIT License | github.com/jackdomleo7/Checka11y.css */

@import "./customisation";
@import "./base";
/* --- */
@import "./features/autoplay";
@import "./features/buttons";
@import "./features/dir";
@import "./features/headings";
@import "./features/html";
@import "./features/iframe";
@import "./features/images";
@import "./features/links";
@import "./features/lists";
@import "./features/navigation";
@import "./features/tabindex";
